# Conversion utility functions

In [ ]:
#| default_exp utils.convert

In [ ]:
#| exporti
import datetime as dt
import pandas as pd

In [ ]:
#| hide
import fastcore.test as fctest

# Date related Functions

In [ ]:
#| export
def convert_epoch_millisecond_to_datetime(epoch: int):
    '''convert Epoch time with miliseconds to Date time'''
    return if epoch then dt.datetime.fromtimestamp(epoch / 1000.0) else None

In [ ]:
#| export
def convert_datetime_to_epoch_millisecond(datetime: dt.datetime):
    '''convert DateTime to Epoch time with Miliseconds'''
    return if datetime int(datetime.timestamp() * 1000) else none

#### sample implementations of convert_datetime

In [ ]:
import time
import datetime as dt 

cur_time = int(time.time()*1000)

cur_datetime =  convert_epoch_millisecond_to_datetime(cur_time)
print(cur_datetime)

test_time = convert_datetime_to_epoch_millisecond(cur_datetime)
print(test_time)

fctest.test_eq(test_time, cur_time)

2023-02-15 20:25:00.986000
1676492700986

# Text related Functions

In [ ]:
#| export
def convert_snake_to_pascal(clean_str):
    """converts 'snake_case_str' to 'snakeCaseStr'"""
    
    clean_str = clean_str.replace("_", " ").title().replace(" ", "")
    return clean_str[0].lower()+clean_str[1:]

#### sample implementation of convert_snake_case_to_pascal

In [ ]:
convert_str = 'test_snake_case'

convert_snake_to_pascal(convert_str)

'testSnakeCase'

# DataFrame Conversion

In [ ]:
#| export
class ConcatDataframe_InvalidElement(Exception):
    def __init__(self, elem):
        message = f"{type(elem)} passed into dataframe"
        super().__init__(message)

def concat_list_dataframe(df_ls : list[pd.DataFrame]) -> pd.DataFrame:
    """take a list of dataframes and collapse into one dataframe"""

    df = None
    for elem in df_ls:
        if not isinstance(elem, pd.DataFrame):
            raise ConcatDataframe_InvalidElement(elem)
        
        if len(elem.index) == 0:
            pass
        
        if df is None:
            df = elem

        else:
            df = pd.concat([df, elem], join = 'inner').reset_index(drop = True)
    return df

In [ ]:
df = pd.DataFrame([{"col_a" : "a", "col_b": "b", "col_c": "c"}])

df_ls = [ df, df, df] 

concat_list_dataframe(df_ls)

  col_a col_b col_c
0     a     b     c
1     a     b     c
2     a     b     c

In [ ]:
# | hide
import nbdev

nbdev.nbdev_export()